@import "html5reset";
@import "mediaquery";
@import "colors";

body{
  font-family: "Noto Sans Japanese";
  font-weight: lighter;
  font-size: 14px;
}

#main{
  margin: 48px 0 0 0;
  @include mq(desktop){
      margin: 0;
  }
}

@import "header";
@import "footer";
@import "humberger_menu";
@import "parallax";
